body {
    background-image: url(./Resources/RCB-Logo_571_855.jpg);
    margin: 0px 150px;
    font-family: 'Roboto Slab', serif;
}

header {
    color: black;
    text-align: center;
    background-image: url(./Resources/download.jpg);
    padding: 15px;
    color: white;
    margin: 30px;
}

#c {
    background-color: rgb(41, 42, blue);
}

nav {
    background-color: rgb(209, 171, 62);
    font-size: large;
    padding: 15px;
    width: 10%;
}

h3 {
    background-color: rgb(209, 171, 62);
}

#e {
    width: 50%;
    text-align: center;
    background-color: rgb(0, 75, 106);
    padding: 15px;
    color: lightgoldenrodyellow;
    margin: 0px 350px;    
    margin-bottom: 30px;
}

img {
    width: 300px;
}

#f {
    background-color: rgb(209, 171, 62);
    padding: 15px 15px;
    margin-bottom: 30px;
    width: inherit;
}

.g {
    padding: 10px;
    width: 25%;
    height: 10%;
    object-position: center;
}

h4 {
    text-align: center;
    font-size: large;
    color: black;
}

a {
    color: white;
}

#idk {
    background-color: rgb(236, 28, 36);
    padding: 5px;
    text-align: center;
    width: 35%;
    margin-left: 205px;
}